@import "src/Common/Styles/sass/variables";
.header {
    height: 80px;
    background-color: $bgColor;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    position: sticky;

}
.text {
    color: #777;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    line-height: 40px;
    letter-spacing: 0.4px;
    font-size: 14px;
    cursor: pointer;
}

a:hover, .active{
    text-decoration: line-through;
    color: #afafaf;
}